@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --font-family: "Ubuntu", sans-serif;
  --font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
input[type="radio"]:checked + label {
  border-color: var(--purplish-blue);
  background-color: var(--Magnolia);
}
.checkbox-style {
  background-color: var(--marine-blue);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 34px;
  transition: 0.4s;
}
.toggle-switch {
  width: 42px;
  height: 20px;
  background-color: var(--marine-blue);
  cursor: pointer;
  transition: all 0.4s ease 0s;
  inset: 0px;
  position: relative;
  color: var(--marine-blue);
  border-radius: 34px;
}
.toggle-switch::before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  position: absolute;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + div:before {
  transform: translateX(22px);
}
.toggle-adds::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--white);
  border-radius: 5px;
  color: var(--White);
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Cool-gray);
  display: flex;
}
input[type="checkbox"]:checked + label::before {
  content: "✔";
  background-color: var(--purplish-blue);
  border: 2px solid var(--purplish-blue);
}
